.icons{
    width: 100%;
    height: 25rem;
    position: relative;
    overflow-y: scroll;
}
.icons>.inner{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.inner>div{
    width: 10rem;
    height: 80%;
    background-color: #808080;
    border-radius:5% ;
    /* border-top-right-radius:5% ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.desc>div:first-child{
    width: 5em;
    height: 5em;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: radial-gradient(circle at top right,rgb(100, 223, 0),rgb(47, 128, 0));
    box-shadow: 5px -5px 5px 1px green inset;
}
.icon-div>div:last-child{
    padding: 5px 5px;
    background-color: red;
    border-radius: 10px;
}
.icon-div>img{
    width: 50%;
    height: auto;
    margin-top: 25px;
}
/*********************************************************Goal-css**/
.goal-icons{
    width: 100%;
    height: 18rem;
    /* background-color: aquamarine; */
    position: relative;
}
.goal-icons>.inner{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}