@media(max-width:967px){
    .goals-descriptions{
        height:45rem ;
        /* background-color: brown; */
    }
    article{
        width: 85%;
        height: 95%;
        border: 3px solid #808080;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .goal-inner{
        width: 95%;
        height: 95%;
        margin: 2.5% 2.5%;
    }
    
}
@media(min-width:968px){
    .goals-descriptions{
        height:28rem ;
        /* background-color: brown; */
        position: relative;
    }
    article{
        width: 85%;
        height: 95%;
        border: 3px solid #808080;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .goal-inner{
        width: 95%;
        height: 95%;
        margin: 2.5% 2.5%;
    }
}